@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600&family=Questrial&display=swap");
/* BREAKPOINTS */
.primary-color {
  color: #8ACCA1;
}

.light-grey-color {
  color: #B8BABC;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  line-height: 1.5;
}

.container {
  max-width: 90%;
  padding-bottom: 160px;
}

.container-fluid {
  padding-bottom: 160px;
}

.btn {
  border-radius: 10px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.btn-primary {
  background: linear-gradient(109.12deg, #A6E1B7 0%, #8ACCA1 54.5%);
  border: none;
  color: white;
}

.btn.btn-outline-primary {
  background: white;
  border: none;
}

.btn.btn-outline-primary span {
  background: linear-gradient(109.12deg, #A6E1B7 0%, #8ACCA1 54.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn.btn-outline-secondary {
  background: white;
  border-color: #A47449;
  color: #A47449;
}

.btn.btn-outline-secondary:hover {
  background-color: #A47449;
  color: white;
}

.btn.btn-white {
  background: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  color: white;
}

.btn.btn-outline-white {
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn.btn-outline-white:hover {
  background-color: white;
  color: #A47449;
}

.form-control {
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.subtitle {
  text-align: center;
  color: #A47449;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.more {
  color: #8ACCA1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more i {
  margin-left: .25rem;
  margin-top: 1.2px;
}

.questrial {
  font-family: 'Questrial', sans-serif;
}

.text-sliders {
  position: absolute;
  bottom: 42px;
  right: 35px;
  width: 45%;
  padding: 2rem;
  color: white;
  font-family: 'Montserrat';
  z-index: 2;
}

.text-sliders:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container-fluid.left-side {
  padding-right: 0;
  max-width: 94.2%;
  margin-left: auto;
  margin-right: 1rem;
}

.ornament {
  position: absolute;
  z-index: -1;
}

.navbar {
  padding: 2rem 0;
}

.navbar.secondary {
  background-color: #A47449;
}

.navbar.secondary .menu ul li {
  color: white;
}

.navbar.secondary .menu ul li.active {
  color: white;
}

.navbar .container {
  padding-bottom: 0;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .menu ul li {
  padding: .5rem 1.5rem;
  color: #B8BABC;
}

.navbar .menu ul li.active {
  color: #58595B;
  font-weight: 500;
}

.footer {
  color: #B8BABC;
}

.footer .container {
  padding-bottom: 1rem;
}

.footer .container .first-row, .footer .container .second-row {
  padding: 60px 0;
}

.footer .container .col-lg-auto {
  width: 20%;
}

.footer .container .logo {
  margin-bottom: 1.5rem;
}

.footer .container .footer-title {
  color: #58595B;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer .container p {
  margin-bottom: 12px;
}

.footer .container .copyright {
  color: #58595B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.footer .container .copyright .links a {
  margin-left: 4rem;
}

.cta .cta-text .cta-subtitle {
  margin-bottom: 20px;
  color: #B8BABC;
}

.cta .cta-text .cta-title {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.cta .cta-text .cta-desc {
  margin-bottom: 2.5rem;
}

.cta .cta-text .actions {
  margin-bottom: 100px;
}

.cta .cta-img {
  position: relative;
}

.cta .sponsor p {
  margin-bottom: 2.5rem;
}

.cta .sponsor .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .sponsor .logos .item {
  margin-right: 3rem;
}

.cta .sponsor .logos .item img {
  max-width: 140px;
}

.projects .item {
  position: relative;
  margin-bottom: 3rem;
}

.projects .item img {
  width: 100%;
  border-radius: 30px;
}

.projects .item .item-text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 70%;
  color: white;
  padding: 1.5rem;
  z-index: 2;
}

.projects .item .item-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.sliders .slider-item {
  position: relative;
}

.sliders .slider-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.sliders .slider-item .slider-img {
  position: relative;
}

.sliders .slider-item .slider-content {
  position: absolute;
  z-index: 4;
  bottom: 0;
  width: 50vw;
  left: 50%;
  top: 50%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliders .slider-item .slider-content .desc {
  position: relative;
  padding: 2rem 5rem;
  text-align: center;
  color: white;
}

.sliders .slider-item .slider-content .desc .text {
  margin-bottom: 2rem;
  line-height: 2;
}

.sliders .slider-item .slider-content .desc .more {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sliders .slider-item .slider-content .desc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.promotions .items .item {
  color: white;
}

.promotions .items .item.grey .cashback,
.promotions .items .item.grey .qr {
  background-color: #B8BABC;
}

.promotions .items .item.green .cashback,
.promotions .items .item.green .qr {
  background: linear-gradient(109.12deg, #A6E1B7 0%, #8ACCA1 54.5%);
}

.promotions .items .item .cashback {
  border-radius: 20px;
  background-color: #D3BBA5;
  padding: 1.5rem;
  position: relative;
}

.promotions .items .item .cashback .text-cashback {
  position: relative;
  z-index: 2;
  width: 50%;
}

.promotions .items .item .cashback .bg-cashback {
  position: absolute;
  right: 0;
  z-index: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.promotions .items .item .cashback .promo-date {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  padding: 4px 8px;
}

.promotions .items .item .cashback .promo-date:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.promotions .items .item .cashback .promo-date:before {
  border-radius: 100px;
  z-index: 0;
}

.promotions .items .item .cashback .promo-date .date-text {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotions .items .item .cashback .promo-date .date-text i {
  margin-right: .5rem;
  margin-bottom: -2px;
}

.promotions .items .item .line {
  margin-top: -1rem;
  position: relative;
  margin-bottom: -1rem;
}

.promotions .items .item .qr {
  background-color: #D3BBA5;
  padding: 1.5rem;
  border-radius: 20px;
  text-align: center;
}

.promotions .items .item .qr .qr-img {
  margin-bottom: 1rem;
}

.apps {
  color: white;
  padding-bottom: 100px;
}

.apps .container {
  position: relative;
  padding-bottom: 0;
}

.apps .container::before {
  content: '';
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(299.53deg, #58595B 54.82%, #8F8F8F 104.36%);
  height: 88%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.apps .container .ornament.one {
  right: -15%;
  top: -19%;
}

.apps .container .ornament.two {
  bottom: -40%;
  left: 22%;
}

.apps .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.apps .apps-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.apps .apps-preview img {
  width: 100%;
}

.apps .apps-preview .second {
  margin-left: -10rem;
}

.apps h2 {
  padding-right: 10rem;
  margin-bottom: 2rem;
  margin-top: 10%;
}

.apps p {
  margin-bottom: 3rem;
}

.apps .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apps .logos img {
  margin-right: 1.5rem;
}

.header {
  background-color: #A47449;
  color: white;
  padding-top: 3rem;
  margin-bottom: 160px;
}

.header .container {
  padding-bottom: 0;
}

.header h6 {
  color: #D3BBA5;
}

.header .search-bar {
  background-color: white;
  color: #B8BABC;
  padding: 1rem 2rem;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.header .search-bar .btn {
  padding: 1.5rem;
}

.header .sliders {
  margin-top: -2rem;
  position: relative;
  z-index: 1;
}

.header .sliders .slider-image img {
  border-radius: 20px;
}

.features .feature {
  text-align: center;
}

.features .feature img {
  margin-bottom: 3rem;
}

.features .feature .more {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facilities .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.facilities .items .item {
  margin-right: 2rem;
}

.facilities .items .item img {
  margin-bottom: 1rem;
  border-radius: 20px;
  max-width: 360px;
}

.facilities .items .item .text {
  font-size: 1.25rem;
}

.facilities .items::-webkit-scrollbar {
  display: none;
}

.login {
  overflow: hidden;
}

.login .login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  position: relative;
}

.login .login-content .logo {
  margin-bottom: 2rem;
}

.login .login-content .form-group {
  text-align: left;
}

.login .login-content .form-label {
  font-weight: bold;
}

.login .login-content .form-group {
  min-width: 35vw;
}

.login .login-content h5 {
  margin-bottom: 1rem;
}

.login .login-content .ornament.one {
  top: -25%;
  right: -25%;
}

.login .login-content .ornament.one img {
  width: 430px;
}

.login .login-content .ornament.two {
  bottom: -25%;
  left: -25%;
}

.login .login-content .ornament.two img {
  width: 430px;
}

.cluster {
  width: 90%;
  margin: auto;
}

.map {
  padding: 4rem 12rem;
  background-color: #D3BBA5;
  border-radius: 20px;
  margin: 4rem 0;
  position: relative;
}

.map img {
  width: 100%;
}

.map .control {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.map .control .zoom {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1rem;
}

.map .control .in {
  margin-bottom: .75rem;
}

.mainroad {
  margin: 0 -2rem;
}

.mainroad .item {
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.mainroad .item .item-image img {
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.mainroad .item .type {
  margin-bottom: 1rem;
}

.mainroad .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainroad .item .info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.mainroad .item .info .info-item img {
  margin-right: .5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: #58595B;
  overflow-x: hidden;
}
/*# sourceMappingURL=app.css.map */