.cluster {
    width: 90%;
    margin: auto;
}

.map {
    padding: 4rem 12rem;
    background-color: $secondary-light;
    border-radius: 20px;
    margin: 4rem 0;
    position: relative;

    img {
        width: 100%;
    }

    .control {
        position: absolute;
        bottom: 2rem;
        right: 2rem;

        .zoom {
            background-color: rgba($color: #000000, $alpha: 0.3);
            border-radius: 10px;
            padding: 1rem;
        }

        .in {
            margin-bottom: .75rem;
        }
    }

    .bg-black {
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        border-radius: 20px;
        display: none;
        z-index: 1;
        top: 0;
        left: 0;
        position: absolute;

        &.active {
            display: block;
        }
    }

    .popup {
        display: none;
        height: 85%;
        width: 35%;
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 20px;
        z-index: 2;

        .popup-close {
            position: absolute;
            background-color: white;
            top: -2rem;
            right: 0;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 8px;
                height: 8px;
            }
        }

        .popup-image {
            img {
                height: 147px;
                object-fit: cover;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        &.active {
            display: block;
        }

        .popup-content {
            padding: 1.5rem 40px;

            .popup-title {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 1.5rem;
            }

            .text-left,
            .text-right {
                margin-bottom: 1rem;
            }

            .text-left {
                color: $grey-light;
            }
        }
    }
}

.mainroad {
    margin: 0 -2rem;

    .item {
        margin: 0 1rem;
        margin-bottom: 4rem;
        padding: 1rem;
        border: 1px solid transparent;
        border-radius: 20px;
        cursor: pointer;

        &:hover,
        &:focus {
            border: 1px solid $secondary;
        }

        .item-image img {
            border-radius: 10px;
            margin-bottom: 1rem;
            width: 100%;
        }

        .type {
            margin-bottom: 1rem;
        }

        .info {
            display: flex;

            .info-item {
                display: flex;
                align-items: center;
                margin-right: 1rem;

                img {
                    margin-right: .5rem;
                }
            }
        }
    }
}

.gallery {
    margin-bottom: 2rem;

    .image-left {
        img {
            max-height: 600px;
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
        }
    }

    .image-right {
        img {
            max-height: 180px;
            border-radius: 20px;
            width: 100%;
            object-fit: cover;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .see-more {
            position: relative;
            display: block;

            @include blurBg;

            &:before {
                z-index: 2;
                content: 'Lihat semua foto';
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Questrial';
                font-size: 20px;
            }
        }
    }
}

.small-info {
    padding: 10px 15px;
    background-color: #F9F3EE;
    color: $secondary;
    border-radius: 100px;
    display: flex;
    align-items: center;

    img {
        margin-right: .5rem;
    }
}

.spesification {
    .img-denah {
        text-align: center;
    }

    .spec-table {
        width: 60%;
        margin: auto;
        margin-top: 2rem;

        .table {
            tr td:first-child {
                color: $grey-light;
            }
        }
    }
}

.steps {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0 4rem;

    .step {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 50%;
        color: $grey-light;
        border: 2px solid $grey-light;
        margin: 0 1.5rem;
        position: relative;
        font-size: 20px;

        &:after {
            content: '';
            position: absolute;
            height: 3px;
            width: calc(4rem - 12px);
            top: 50%;
            left: 100%;
            background-color: $grey-light;
        }

        &.last {
            &:after {
                width: 0;
            }
        }

        &.active {
            color: $secondary;
            border: 2px solid $secondary;
        }

        &.done {
            color: white;
            background-color: $secondary;
            border-color: $secondary;

            &:after {
                background-color: $secondary;
            }
        }
    }
}

.choose-cluster {
    .item {
        padding: 1rem;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            border: 1px solid $secondary;
        }

        .item-image {
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: 240px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .item-badge {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 4px 1rem;
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }

        .item-sub {
            color: $grey-light;
        }
    }
}

.second-layout {
    .left-column {
        border-right: 1px solid $grey-light;
    }

    .right-column {
        padding-left: 4rem;
        padding-top: 1rem;
    }

    .img-no-modif {
        width: 500px;
        padding: 4rem 0;
    }

    .mod-type {
        .type-image {
            margin-bottom: 1rem;

            img {
                border-radius: 10px;
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;

            .type-item {
                margin-right: 3.5rem;
                margin-bottom: 1rem;

                p {
                    margin-bottom: .5rem;
                    color: $grey-light;
                }
            }
        }
    }


    .totals {
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 18px;

            p {
                color: $grey-light;
                margin-bottom: 0;
            }

            hr {
                margin-bottom: 18px;
            }
        }
    }
}

.mod-items {
    .item {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 12px;
        border-radius: 10px;
        margin-bottom: 40px;

        &.selected {
            border-color: $secondary;
            box-shadow: none;
        }

        .row {
            align-items: center;
        }

        img {
            border-radius: 10px;
        }

        p {
            color: $grey-light;
            margin-bottom: .75rem;
        }

        h6 {
            margin-bottom: 0;
            font-size: 20px;
        }

        .btn {
            font-weight: 400;
            width: 180px;
        }
    }
}

.simulation-price {
    .collapse-item {
        margin-bottom: 1.5rem;

        .card-shadow {
            display: block;
            margin-bottom: .5rem;
        }

        .form-check:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .form-group {
        position: relative;

        .label-text {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border: 1px solid $grey-light;
            padding: 0 1.5rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .form-control {
            border: 0;
            padding-left: 130px;
        }
    }

}

.price-total {
    text-align: center;
    background-color: #F7FFF8;
    border: 1px dashed $primary-normal;
    padding: 50px 0;
    border-radius: 10px;
    margin-top: 3rem;

    p {
        margin-bottom: 1rem;
    }
}

.form-order {
    .form-group {
        margin-bottom: 2rem;

        .form-label {
            font-weight: bold;
            font-size: 20px;
            display: block;
        }
    }

    .btn-form {
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid $grey-light;
        padding: 1rem 1.5rem;
        width: 100%;
        justify-content: space-between;
        display: flex;

        .promo-text {
            display: flex;
            align-items: center;

            img {
                margin-right: .5rem;
            }
        }
    }
}

.promo-modal {
    .promo-title {
        text-align: center;
        margin-bottom: 3.5rem;
    }

    .promo-input {
        position: relative;
        margin-bottom: 3rem;

        .form-control {
            padding: 1.5rem 2rem;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $secondary;
        }
    }

    .promo-item {
        padding: 1.5rem;
        border: 1px solid $grey-light;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .promo-icon {
            margin-right: 1.5rem;
        }

        &.active {
            border-color: $primary-normal;
        }

        .promo-text {
            h6 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 0;
                color: $grey-light;
            }
        }
    }
}

.promo-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.summary {
    margin-bottom: 4rem;

    .col-4 {
        p {
            color: $grey-light;
        }
    }

    hr {
        margin: 2rem 0;
    }

    .detail {
        display: flex;

        a {
            margin-left: 1rem;
            color: $secondary;
            font-weight: bold;
        }
    }

    .promo {
        display: inline-flex;
        align-items: center;
        padding: .5rem 1rem;
        border-radius: 10px;
        border: 1px solid $primary-normal;

        img {
            margin-right: .5rem;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.disclaimer {
    .section:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    ol {
        padding: 0;
        margin: 0;
        padding-left: 1rem;
    }
}

.congratulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;

    .logo {
        margin-bottom: 5rem;
    }

    .icon-check {
        margin-bottom: 3rem;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 5rem;
    }
}