.navbar {
    padding: 2rem 0;

    &.secondary {
        background-color: $secondary;

        .menu .dropdown-toggle.show {
            color: white;
        }

        .menu ul li {
            color: white;

            &.active,
            &:hover,
            &:focus {
                color: white;
            }
        }
    }

    .container {
        padding-bottom: 0;
    }

    .menu {
        >ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            >li {
                padding: .5rem 1.5rem;
                color: $grey-light;

                &.active,
                &:hover,
                &:focus {
                    color: $grey;
                    font-weight: 500;
                }
            }
        }

        .dropdown-toggle.show {
            color: $grey;
            font-weight: 500;
        }

        .dropdown-menu {
            padding: 1rem 3rem;
            top: 4rem;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            border: none;
            left: -25vw;
            min-width: 80vw;
            justify-content: center;

            &.show {
                display: flex;
            }

            >li {
                a {
                    padding: 1rem 4rem;
                    text-align: center;

                    img {
                        filter: grayscale(100%);
                    }

                    &:hover {
                        background-color: transparent;

                        img {
                            filter: grayscale(0);
                        }
                    }

                    &:focus {
                        color: $grey;
                        background-color: transparent;
                    }

                    p {
                        margin-top: 1rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.footer {
    color: $grey-light;

    .container {
        padding-bottom: 1rem;

        .first-row,
        .second-row {
            padding: 60px 0;
        }

        .col-lg-auto {
            width: 20%;
        }

        .logo {
            margin-bottom: 1.5rem;
        }

        .footer-title {
            color: $grey;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 12px;
        }

        .copyright {
            color: $grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;

            .links {
                a {
                    margin-left: 4rem;
                }
            }
        }
    }
}